body {
	transition: all 1s ease-in-out;
	overflow-y: scroll;
	height: auto;
}

#userInput {
	border: 1px solid #424242;
  	box-shadow: 1px 1px 3px #424242;
  	
}

.mainStyle {
	background: url("../images/background-images/mb.jpg");
	background-color: #3E495A;
	color: white;
}

								/* Ren1x copyright в Nav*/
#copy {
	font-size: 0.7rem;
}


@media only screen and (max-width: 760px) {
	#some-element {				 /* Проверка с чего зашел пользователь */
		display: none;
	}
}

